/**
Content based common styles
 */

//.message{
//  @apply Rampart;
//}

.section-heading {
    @apply text-primary-color;
    @apply text-5xl;
    @apply font-GT-ProBlack;
}

.para-heading {
    @apply font-SF-ProBold;
    @apply text-2xl;
    @apply leading-8;
    @apply text-center;
}

.para-content {
    @apply text-lg;
    @apply leading-7;
    @apply font-SF-ProRegularItalic;
    @apply text-center;
}


/**
Button through out the app
 */

.app-button {
    @apply border-gray-600;
    @apply font-GT-ProMedium;
    @apply text-white;
    background-color: #231f20;
    @apply border-1;
    &:hover {
        @apply bg-white;
        @apply text-black;
        @apply border-1;
        @apply border-blue-700;
        transition: all 0.5s ease;
    }
}

button {
    &:focus-visible {
        outline: 3px dashed #e69600;
    }
}
